# Frequent Pattern Study
### Name : Sanjeev Kumar Srinivasan Khannan
## Litratures 

| Frequent Itemsets via Apriori Algorithm|[Github User Guide for mlxtend](http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/) |

## Frequent Pattern using Apriori Algorithm

### Apriori function : 
- is an algorithm for frequent item set mining and association rule learning over relational databases.
- It proceeds by identifying the frequent individual items in the database and extending them to larger and larger item sets as long as those item sets appear sufficiently often in the database.

In [1]:
# Pandas dataframe for processing
import pandas as pd

# TransactionEncoder for data Encoding
from mlxtend.preprocessing import TransactionEncoder

# Frequent Pattern algorithms and association rules
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

# Example 1 -- Generating Frequent Itemsets

The apriori function expects data in a `one-hot` encoded pandas DataFrame. Suppose we have the following transaction data:

In [2]:
initial_dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
                   ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
                   ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
                   ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
                   ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

Adding some new items to the list apart from the initial dataset. 

The new items are, 
* Cookies
* Potato
* Chocolate
* Cherry
* Banana
* Raisins
* Cashews
* Rice

In [3]:
incremenal_data = [['Banana', 'Eggs', 'Milk', 'Ice cream', 'Cashews', 'Cherry'],
                    ['Onion', 'Potato', 'Rice', 'Eggs', 'Cherry', 'Dill'],
                    ['Corn', 'Yogurt', 'Onion', 'Rice', 'Cookies'],
                    ['Apple', 'Raisins', 'Cherry', 'Milk', 'Chocolate', 'Eggs', 'Yogurt'],
                    ['Cashews', 'Banana', 'Milk', 'Yogurt']]

Merging the two datasets

In [4]:
dataset = [ ['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
            ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
            ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
            ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
            ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs'],
            ['Banana', 'Eggs', 'Milk', 'Ice cream', 'Cashews', 'Cherry'],
            ['Onion', 'Potato', 'Rice', 'Eggs', 'Cherry', 'Dill'],
            ['Corn', 'Yogurt', 'Onion', 'Rice', 'Cookies'],
            ['Apple', 'Raisins', 'Cherry', 'Milk', 'Chocolate', 'Eggs', 'Yogurt'],
            ['Cashews', 'Banana', 'Milk', 'Yogurt']]

To transform the dataset in the form of OneHot Encoding, we can use TransactionEncoder

In [5]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)

df = pd.DataFrame(te_ary, 
                  columns = te.columns_)
df

,Apple,Banana,Cashews,Cherry,Chocolate,Cookies,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Potato,Raisins,Rice,Unicorn,Yogurt
0,False,False,False,False,False,False,False,False,True,False,True,True,True,True,False,False,False,False,True
1,False,False,False,False,False,False,False,True,True,False,True,False,True,True,False,False,False,False,True
2,True,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True,True
4,False,False,False,False,False,False,True,False,True,True,True,False,False,True,False,False,False,False,False
5,False,True,True,True,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False
6,False,False,False,True,False,False,False,True,True,False,False,False,False,True,True,False,True,False,False
7,False,False,False,False,False,True,True,False,False,False,False,False,False,True,False,False,True,False,True
8,True,False,False,True,True,False,False,False,True,False,False,True,False,False,False,True,False,False,True
9,False,True,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True

Let's list the transactions with min-support of 50% using apriori algorithm

In [6]:
apriori(df, 
        min_support=0.5, 
        use_colnames=True)

   support        itemsets
0      0.7          (Eggs)
1      0.5  (Kidney Beans)
2      0.6          (Milk)
3      0.5         (Onion)
4      0.6        (Yogurt)

Observation:
- `Eggs` is frequently 70% repeated in all transactions
- `Milk` and `Yogurt` is repeated 60% of the time each separately
- `Kidney Beans` and `Onion` is repeated 50% of the time each separately

# Selecting and Filtering Results

Filtering the dataset with frequent_patterns that are having minimum support of 0.4

In [7]:
frequent_itemsets = apriori(df, 
                            min_support=0.4, 
                            use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

   support              itemsets  length
0      0.7                (Eggs)       1
1      0.5        (Kidney Beans)       1
2      0.6                (Milk)       1
3      0.5               (Onion)       1
4      0.6              (Yogurt)       1
5      0.4  (Kidney Beans, Eggs)       2
6      0.4          (Milk, Eggs)       2
7      0.4         (Onion, Eggs)       2
8      0.4        (Yogurt, Milk)       2

Patterns that are repeated with minimum itemsLength as 2 and min-support of 40%

In [8]:
frequent_itemsets[ (frequent_itemsets['length'] >= 2) &
                   (frequent_itemsets['support'] >= 0.4) ]

   support              itemsets  length
5      0.4  (Kidney Beans, Eggs)       2
6      0.4          (Milk, Eggs)       2
7      0.4         (Onion, Eggs)       2
8      0.4        (Yogurt, Milk)       2

Checking the pattern support of 'Milk' and 'Egg'

In [9]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Eggs', 'Milk'} ]

   support      itemsets  length
6      0.4  (Milk, Eggs)       2

# Example 2 -- Association Rules Generation from Frequent Itemsets

`Rule generation` is a common task in the mining of frequent patterns.
-  An association rule is an implication expression of the form X → Y, where X and Y are disjoint itemsets

A more concrete example based on consumer behaviour would be `{Diapers}→{Beer}` suggesting that people who buy diapers are also likely to buy beer. 
- To evaluate the "interest" of such an association rule, different `metrics` have been developed. The current implementation make use of the `confidence` and `lift` metrics.

'support':
$support(A→C)=support(A∪C),range: [0,1]$

The `support` metric is defined for itemsets, not assocication rules. 
- The table produced by the association rule mining algorithm contains three different support metrics: 
    - 'antecedent support'
    - 'consequent support'
    - 'support'

> 'antecedent support' computes the proportion of transactions that contain the antecedent A.


> 'consequent support' computes the support for the itemset of the consequent C.


> The 'support' metric then computes the support of the combined itemset A ∪ C -- 
    -note that 'support' depends on 'antecedent support' and 'consequent support' via $$min('antecedent support', 'consequent support')$$

Typically, support is used to measure the `abundance` or `frequency` (often interpreted as significance or importance) of an itemset in a database. 

- We refer to an itemset as a __frequent itemset__ if you support is larger than a specified minimum-support threshold. 
    - Note that in general, due to the downward closure property, all subsets of a frequent itemset are also frequent.
    - here comes the pruning idea for apriori, Open lecture to understand more


'__confidence__': Let's create the Law with $LaTex$

$$ confidence(A→C) = {{support(A→C)} \over {support(A)}},range: [0,1]$$

> The confidence of a rule A->C is the probability of seeing the consequent in a transaction given that it also contains the antecedent. 

- Note that the metric is not symmetric or directed; for instance, the confidence for A->C is different than the confidence for C->A. 
- The confidence is 1 (maximal) for a rule A->C if the consequent and antecedent always occur together.

'lift':
$$lift(A→C)={{confidence(A→C)} \over {support(C)}},range: [0,∞]$$

- The lift metric is commonly used to measure how much more often the antecedent and consequent of a rule A->C occur together than we would expect if they were statistically independent. 
- If A and C are independent, the Lift score will be exactly 1.

### Getting association rules with metric as `confidence` and minimum threshold of 0.6

In [10]:
associationRulesSet = association_rules(frequent_itemsets, 
                                        metric="confidence", 
                                        min_threshold=0.6)
associationRulesSet

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Eggs),0.5,0.7,0.4,0.800000,1.142857,0.05,1.5
1,(Milk),(Eggs),0.6,0.7,0.4,0.666667,0.952381,-0.02,0.9
2,(Onion),(Eggs),0.5,0.7,0.4,0.800000,1.142857,0.05,1.5
3,(Yogurt),(Milk),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
4,(Milk),(Yogurt),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2

- I Wouldn't like to manipulate the frozen sets so we make a list
- The Association Rules can be defined as : $$antecedent -> consequent = [ support = # , confidence = #]$$

In [11]:
for i , row in associationRulesSet.iterrows():
    print(f"{i+1} - {list(row.antecedents)} -> {list(row.consequents)} = [support = {row.support} , confidence = {row.confidence}, lift ={row.lift}] , dependent = {row.lift != 1.0}" )

1 - ['Kidney Beans'] -> ['Eggs'] = [support = 0.4 , confidence = 0.8, lift =1.142857142857143] , dependent = True
2 - ['Milk'] -> ['Eggs'] = [support = 0.4 , confidence = 0.6666666666666667, lift =0.9523809523809526] , dependent = True
3 - ['Onion'] -> ['Eggs'] = [support = 0.4 , confidence = 0.8, lift =1.142857142857143] , dependent = True
4 - ['Yogurt'] -> ['Milk'] = [support = 0.4 , confidence = 0.6666666666666667, lift =1.1111111111111114] , dependent = True
5 - ['Milk'] -> ['Yogurt'] = [support = 0.4 , confidence = 0.6666666666666667, lift =1.1111111111111114] , dependent = True

Stroing the length of antecedents in a separate column

In [12]:
associationRulesSet["antecedent_len"] = associationRulesSet["antecedents"].apply(lambda x: len(x))
associationRulesSet

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Kidney Beans),(Eggs),0.5,0.7,0.4,0.800000,1.142857,0.05,1.5,1
1,(Milk),(Eggs),0.6,0.7,0.4,0.666667,0.952381,-0.02,0.9,1
2,(Onion),(Eggs),0.5,0.7,0.4,0.800000,1.142857,0.05,1.5,1
3,(Yogurt),(Milk),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,1
4,(Milk),(Yogurt),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,1

- if we just need the associaltion rule of some antecedents or consequents

In [13]:
associationRulesSet[associationRulesSet['antecedents'] == {'Milk'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
1,(Milk),(Eggs),0.6,0.7,0.4,0.666667,0.952381,-0.02,0.9,1
4,(Milk),(Yogurt),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,1

In [14]:
associationRulesSet[associationRulesSet['consequents'] == {'Eggs'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Kidney Beans),(Eggs),0.5,0.7,0.4,0.800000,1.142857,0.05,1.5,1
1,(Milk),(Eggs),0.6,0.7,0.4,0.666667,0.952381,-0.02,0.9,1
2,(Onion),(Eggs),0.5,0.7,0.4,0.800000,1.142857,0.05,1.5,1

Quering the association set by rules

- rules 
    - support >= 0.4
    - confidence >= 0.7
    - lenth of items as antecedents = 1

In [15]:
associationRulesSet[(associationRulesSet['support'] >= 0.4) &
                    (associationRulesSet['confidence'] >=0.7) &
                    (associationRulesSet['antecedent_len'] ==1) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Kidney Beans),(Eggs),0.5,0.7,0.4,0.8,1.142857,0.05,1.5,1
2,(Onion),(Eggs),0.5,0.7,0.4,0.8,1.142857,0.05,1.5,1

## Example 3 -- Working with Sparse Representations

In [16]:
# To save memory, you may want to represent your transaction data in the sparse format. This is especially useful if you have lots of products and small transactions.

oht_ary = te.fit(dataset).transform(dataset, sparse=True)
sparse_df = pd.DataFrame.sparse.from_spmatrix(oht_ary, 
                                              columns=te.columns_)
sparse_df

,Apple,Banana,Cashews,Cherry,Chocolate,Cookies,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Potato,Raisins,Rice,Unicorn,Yogurt
0,0,0,0,0,0,0,0,0,1,0,1,1,1,1,0,0,0,0,1
1,0,0,0,0,0,0,0,1,1,0,1,0,1,1,0,0,0,0,1
2,1,0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,1,1
4,0,0,0,0,0,0,1,0,1,1,1,0,0,1,0,0,0,0,0
5,0,1,1,1,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0
6,0,0,0,1,0,0,0,1,1,0,0,0,0,1,1,0,1,0,0
7,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,1,0,1
8,1,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1
9,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1

In [17]:
apriori(sparse_df, 
        min_support=0.6, 
        use_colnames=True, 
        verbose=1)

Processing 6 combinations | Sampling itemset size 2

   support  itemsets
0      0.7    (Eggs)
1      0.6    (Milk)
2      0.6  (Yogurt)

## Example 4 -- Frequent Itemsets via the FP-Growth Algorithm

FP-growth is an improved version of the Apriori Algorithm which is widely used for frequent pattern mining(AKA Association Rule Mining).

By default, fpgrowth returns the column indices of the items, which may be useful in downstream operations such as association rule mining. For better readability, we can set use_colnames=True to convert these integer values into the respective item names:

Getting the frequent patterns with min-support of 0.4 using FpGrowth algorithm

In [18]:
frequentItems_fpGrowth = fpgrowth(df, 
                                  min_support=0.4, 
                                  use_colnames=True)

frequentItems_fpGrowth

   support              itemsets
0      0.7                (Eggs)
1      0.6              (Yogurt)
2      0.6                (Milk)
3      0.5               (Onion)
4      0.5        (Kidney Beans)
5      0.4        (Yogurt, Milk)
6      0.4          (Milk, Eggs)
7      0.4         (Onion, Eggs)
8      0.4  (Kidney Beans, Eggs)

Generating the antecedents and consequents from associationRulesSet with metric as confidence of min-support of 0.6

In [19]:
associationRulesSet = association_rules(frequentItems_fpGrowth, 
                                        metric="confidence", 
                                        min_threshold=0.6)
associationRulesSet

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Yogurt),(Milk),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
1,(Milk),(Yogurt),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
2,(Milk),(Eggs),0.6,0.7,0.4,0.666667,0.952381,-0.02,0.9
3,(Onion),(Eggs),0.5,0.7,0.4,0.800000,1.142857,0.05,1.5
4,(Kidney Beans),(Eggs),0.5,0.7,0.4,0.800000,1.142857,0.05,1.5

In [20]:
for i , row in associationRulesSet.iterrows():
    print(f"{i+1} - {list(row.antecedents)} -> {list(row.consequents)} = [support = {row.support} , confidence = {row.confidence}, lift ={row.lift}] , dependent = {row.lift != 1.0}" )

1 - ['Yogurt'] -> ['Milk'] = [support = 0.4 , confidence = 0.6666666666666667, lift =1.1111111111111114] , dependent = True
2 - ['Milk'] -> ['Yogurt'] = [support = 0.4 , confidence = 0.6666666666666667, lift =1.1111111111111114] , dependent = True
3 - ['Milk'] -> ['Eggs'] = [support = 0.4 , confidence = 0.6666666666666667, lift =0.9523809523809526] , dependent = True
4 - ['Onion'] -> ['Eggs'] = [support = 0.4 , confidence = 0.8, lift =1.142857142857143] , dependent = True
5 - ['Kidney Beans'] -> ['Eggs'] = [support = 0.4 , confidence = 0.8, lift =1.142857142857143] , dependent = True

Since FP-Growth doesn't require creating candidate sets explicitly, it can be magnitudes faster than the alternative Apriori algorithm. For instance, the following cells compare the performance of the Apriori algorithm to the performance of FP-Growth -- even in this very simple toy dataset scenario, FP-Growth is considerable faster

In [21]:
%timeit -n 100 -r 10 apriori(df, min_support=0.6)

1.02 ms ± 28.7 µs per loop (mean ± std. dev. of 10 runs, 100 loops each)

In [22]:
%timeit -n 100 -r 10 apriori(df, min_support=0.6, low_memory=True)

1.03 ms ± 27.3 µs per loop (mean ± std. dev. of 10 runs, 100 loops each)

In [23]:
%timeit -n 100 -r 10 fpgrowth(df, min_support=0.6)

660 µs ± 20.8 µs per loop (mean ± std. dev. of 10 runs, 100 loops each)

Conclusion:
- Both the algorithms finds the patterns similarly.
- Fp growth's tree based pattern generation is much efficient than the traditional apriori approach.
- From the above time results, FP_Growth is faster than the apriori, even in low_memory mode of apriori.